 
        body {
            background-image: url("image/background.png");
        }

        img {
            border: 1px solid #ddd;
            /*opacity: 0.5;
            filter: alpha(opacity=20);
            border-radius: 4px;*/
        }
        .nom{ color: aqua; font-size: 20px;font-weight: bold;text-align: center}
        .titr{  

            color:blanchedalmond ;
            font-size: 30px;
            text-decoration-line: underline;
            text-align: center;
            border:1px solid black; 
 background-color:silver
        }
        .details{
            font-size: 30px;
            color: aquamarine            
        }
        #DAT
        {
            color: aqua;
            text-decoration-line: underline;
        }